[submodule "fph-table-sys/third_party/fph-table"]
	path = ext/fph-table-sys/third_party/fph-table
	url = github:renzibei/fph-table
[submodule "ext/hashbrown"]
	path = ext/hashbrown
	url = github:rust-lang/hashbrown
[submodule "ext/mapembed-sys/third_party/mapembed"]
	path = ext/mapembed-sys/third_party/mapembed
	url = github:mapembed/mapembed
[submodule "ext/engineering-kphf/third_party/engineering-k-perfect-hashing"]
	path = ext/engineering-kphf/third_party/engineering-k-perfect-hashing
	url = github:stefanfred/engineering-k-perfect-hashing
